@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#TabsToolbar { visibility: collapse !important; }

.identity-box,
#urlbar {
    border: none !important;
    font-family: monospace !important;
    font-size: 11px !important;
    margin-top: -3px !important;
    margin-bottom: -3px !important;
    max-height: var(--nav-min-height) !important;
}

.toolbarbutton-1 {
    margin: -5px 0 -5px -5px !important;
}

/* Uncomment to hide URL notifications on hover over link. */
/* #statuspanel[type="overLink"], */

back-button,
forward-button,
PanelUI-menu-button,
.tab-close-button,
.tabs-newtab-button {
    display: none !important;
}
